<?xml version="1.0" ?>
<launch>

  <!--Simulation of navigation-->
  <!-- <node name="navigation_example" pkg="osm_planner" type="navigation_example" ns="osm_planner" output="screen"/> -->
  <node name="polygon_pandemonium" pkg="polygon" type="polygon" ns="polygon" output="screen">
    <!-- <param name="background_pic_path" value = "$(find osm_planner)/osm_example/image_match/background.jpeg"/> -->
  </node>




</launch>
